{%- comment -%}
  Include as: {%- include components/breadcrumbs.html -%}
  Depends on: page, site.
  Results in: HTML for the breadcrumbs component.
  Overwrites:
    pages_list, parent_page, grandparent_page.
{%- endcomment -%}

{%- if page.url != "/" and page.parent -%}

  {%- assign pages_list = site[page.collection]
      | default: site.html_pages
      | where_exp: "item", "item.title != nil"
      | where_exp: "item", "item.has_children != nil" -%}

  {%- if page.grand_parent -%}
    {%- assign parent_page = pages_list
        | where: "title", page.parent
        | where: "parent", page.grand_parent
        | first -%}
    {%- assign grandparent_page = pages_list
        | where: "title", page.grand_parent
        | first -%}
  {%- else -%}
    {%- assign parent_page = pages_list
        | where: "title", page.parent
        | where_exp: "item", "item.parent == nil"
        | first -%}
  {%- endif -%}

<nav aria-label="Breadcrumb" class="breadcrumb-nav">
  <ol class="breadcrumb-nav-list ignore">
  {% if page.parent -%}
  {%- if page.grand_parent -%}
  {%- if grandparent_page.ignore_link -%}
    <li class="breadcrumb-nav-list-item ignore"><a class="ignore" href="">{{ page.grand_parent }}</a></li>
  {%- else -%}
    <li class="breadcrumb-nav-list-item"><a href="{{ grandparent_page.url | relative_url }}">{{ page.grand_parent }}</a></li>
  {%- endif %}  
  {%- endif %}
  {% if parent_page.ignore_link -%}
    <li class="breadcrumb-nav-list-item ignore"><a class="ignore" href="">{{ page.parent }}</a></li>
  {%- else -%}
    <li class="breadcrumb-nav-list-item"><a href="{{ parent_page.url | relative_url }}">{{ page.parent }}</a></li>
  {% endif -%}
  {% endif -%}
  {% if page.ignore_link -%}
    <li class="breadcrumb-nav-list-item ignore"><a class="ignore" href="">{{ page.title }}</a></li>
  {%- else -%}
    <li class="breadcrumb-nav-list-item"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
  {% endif -%}
  </ol>
</nav>

{%- endif -%}
